p,
h1,
h3,
span {
  font-family: var(--font-primary);
  font-size: 22px;
}
.navWrapper {
  margin: 0 auto;
  padding: 0.8rem 2rem;
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonNavWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

/* nav icon buttons */
.buttonNavWrapper button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.buttonNavWrapper img {
  display: block;
  width: 15px;
  height: 15px;
}
